.gridContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 40px;
  margin: 2rem;
  justify-items: center;
}

/* @media (max-width: 950px) {
  .gridContainer {
    grid-template-columns: 1fr 1fr 1fr;
  }
} */
