a {
  text-decoration: none;
  margin: 0.3rem 1.5vw 0 1.5vw;
}

button {
  background: transparent;
  border: none;
  cursor: pointer;
}

button:focus {
  outline: none;
}

#navbar {
  background-color: #051e1b;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding: 0 2rem;
  border-bottom: 1px solid #000000;
}

#logoMenuContainer {
  display: flex;
  padding-bottom: 2px;
  justify-content: center;
  align-items: center;
}

#logoMenuContainer > button {
  padding: 0;
}

#navItems {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  margin-left: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.navItem {
  border-bottom: 2px solid transparent;
}

.navItem a {
  font-size: 2rem;
  text-align: center;
  align-items: stretch;
  font-family: "Indie Flower", sans-serif;
  color: #f2aa2e;
  border-bottom: 2px solid transparent;
  width: fit-content;
  white-space: nowrap;
}

#fbItem {
  padding-bottom: 2px;
}

.navItem a:hover {
  border-bottom-color: #ead637;
  color: #ead637;
}

#fbItem:hover {
  border-bottom-color: transparent;
}

#fb-logo {
  max-height: 2rem;
}

#opg-logo {
  max-height: 2rem;
}

#hamburgerImage {
  display: none;
}

@media (max-width: 770px) {
  #logoMenuContainer {
    justify-content: space-between;
  }

  #opg-logo {
    max-height: 4rem;
  }

  #hamburgerImage {
    display: flex;
  }

  #navbar {
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    padding: 1rem 2rem;
  }

  #navItems {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 0;
    max-height: 0;
    transition: max-height 300ms;
  }

  .navItem {
    visibility: hidden;
  }

  .navItem a {
    font-size: 3rem;
  }

  .navItem a:hover {
    border-bottom-color: transparent;
  }

  #fb-logo {
    display: none;
  }
}
