#navbar {
  background-image: url("../../assets/navbar-bg.png");
  display: flex;
  justify-content: center;
  align-items: stretch;
  padding: 0 2rem;
  border-bottom: 1px solid black;
}

#logoMenuContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 2px;
}

#navItems {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin-left: auto;
  flex-grow: 0.1;
}

.navItem {
  font-size: 2rem;
  text-align: center;
  align-items: stretch;
  font-family: "Indie Flower", sans-serif;
  color: #b5e2fa;
  padding: 0.5vw 2vw;
  border-bottom: 2px solid transparent;
}

#fbItem {
  margin-left: auto;
  padding-bottom: 2px;
}

.navItem:hover {
  border-bottom-color: #eddea4;
  color: #eddea4;
}

#fbItem:hover {
  border-bottom-color: transparent;
}

#fb-logo {
  max-height: 2rem;
  margin-left: auto;
}

#opg-logo {
  max-height: 2rem;
}

#hamburgerImage {
  display: none;
}

@media (max-width: 768px) {
  #logoMenuContainer {
    justify-content: space-between;
  }

  #opg-logo {
    max-height: 4rem;
  }

  #hamburgerImage {
    display: flex;
  }

  #navbar {
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    padding: 2rem;
  }

  #navItems {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
  }

  .navItem {
    font-size: 3rem;
  }

  .navItem:hover {
    border-bottom-color: transparent;
    color: #eddea4;
  }

  #fb-logo {
    display: none;
  }
}
