.gridItem {
  display: flex;
  min-width: 300px;
  align-items: center;
  justify-content: center;
  background-image: url("../../assets/marigold-2666877.jpg");
  background-size: cover;
  border-radius: 5px;
  color: aliceblue;
  padding: 2% 5%;
}

.gridItem .imageDiv {
  min-width: 100px;
  min-height: 100px;
  border: 2px solid white;
  background-size: cover;
  border-radius: 100%;
}

.gridItem h4 {
  margin-left: auto;
}
