.container {
  max-width: 100%;
}

.homeJumbotron {
  min-height: 100vh;
}

.homeJumbotron div,
.homeJumbotron a {
  font-family: "Source Sans Pro", sans-serif;
  color: #f9f7f3;
  padding: 5rem 0;
}

.homeJumbotron h1 {
  color: #ffffff;
  padding: 0 2rem;
  margin-bottom: 15rem;
}

.homeJumbotron h2 {
  font-family: "Poppins", sans-serif;
  color: #f9f7f3;
  padding: 0rem 2rem;
  font-size: 5rem;
}

@media (max-width: 500px) {
  html {
    font-size: 60%;
  }
}

@media (min-width: 500px) and (max-width: 787px) {
  html {
    font-size: 75%;
  }
}

@media (min-width: 787px) and (max-width: 976px) {
  html {
    font-size: 80%;
  }
}
