.jumbotron {
  outline: none;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: auto;
  background-size: cover;
  background-position: center;
  border-bottom: 1px solid #f18f01;
}

.jumbotron h1 {
  font-size: 5rem;
  font-family: "Poppins", sans-serif;
}

.jumbotron h2 {
  font-weight: normal;
}

.jumbotron a {
  padding: 0.5rem;
  font-size: 2rem;
}

.jumbotron a:hover {
  border: 2px solid;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.4);
}

@media (max-width: 770px) {
  .jumbotron a {
    border-color: transparent;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.3);
  }
}

/* .jumbotron a::after {
  padding-left: 0.5rem;
  content: url("../../assets/arrow-white.png");
} */
